trigger:
  branches:
    include:
    - dev
    - 'validate/*'

parameters:
- name: SignTypeSelection
  displayName: Sign type
  type: string
  default: Test
  values: [ 'Test', 'Real' ]

variables:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  BuildConfiguration: Release
  BuildPlatform: Any CPU
  NUGET_PACKAGES: $(Agent.TempDirectory)/.nuget/packages
  SignTypeSelection: ${{ parameters.SignTypeSelection }}
  DeployExtension: false
  NugetSecurityAnalysisWarningLevel: none

jobs:
- job: Windows
  pool: VSEng-MicroBuildVS2019
  steps:
  - template: azure-pipelines/build-windows.yml

- job: Linux
  pool:
    vmImage: Ubuntu 18.04
  steps:
  - template: azure-pipelines/build-linux.yml
