<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Don't use any sources set by the system (workaround for microbuild issue) -->
    <clear />
    <add key="nuget" value="https://www.nuget.org/api/v2/" />
    <add key="corefx lab" value="https://dotnet.myget.org/F/dotnet-corefxlab/api/v3/index.json" />
  </packageSources>
</configuration>
