<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v2" />
    <add key="nuget.org" value="https://nuget.org/api/v2/" />
    <add key="FxPortabilityLocal" value="src\Microsoft.Fx.Portability\bin\Release" />
    <add key="FxPortabilityLocalDebug" value="src\Microsoft.Fx.Portability\bin\Debug" />
  </packageSources>
</configuration>
