<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="IEnumerable`1" type="System.Collections.Generic.IEnumerable`1, mscorlib" />
      <typeAlias alias="IApiPortService" type="Microsoft.Fx.Portability.IApiPortService, Microsoft.Fx.Portability" />
      <typeAlias alias="IApiCatalogLookup" type="Microsoft.Fx.Portability.ObjectModel.IApiCatalogLookup, Microsoft.Fx.Portability" />
    </typeAliases>
    <container>
      <register type="IApiPortService" mapTo="Microsoft.Fx.Portability.OfflineApiPortService, Microsoft.Fx.Portability.Offline"  >
        <lifetime type="singleton" />
      </register>
      <register type="IApiCatalogLookup" mapTo="Microsoft.Fx.Portability.OfflineApiCatalogLookup, Microsoft.Fx.Portability.Offline"  >
        <lifetime type="singleton" />
      </register>
      <register type="IEnumerable`1" mapTo="Microsoft.Fx.Portability.OfflineBreakingChanges, Microsoft.Fx.Portability.Offline"  >
        <lifetime type="singleton" />
      </register>
      <register type="Microsoft.Fx.Portability.ObjectModel.IApiRecommendations, Microsoft.Fx.Portability" mapTo="Microsoft.Fx.Portability.OfflineApiRecommendations, Microsoft.Fx.Portability.Offline">
        <lifetime type="singleton" />
      </register>
      <register name="json" type="Microsoft.Fx.Portability.Reporting.IReportWriter, Microsoft.Fx.Portability" mapTo="Microsoft.Fx.Portability.Reports.JsonReportWriter, Microsoft.Fx.Portability.Reports.Json">
        <lifetime type="singleton" />
      </register>
      <register name="html" type="Microsoft.Fx.Portability.Reporting.IReportWriter, Microsoft.Fx.Portability" mapTo="Microsoft.Fx.Portability.Reports.HtmlReportWriter, Microsoft.Fx.Portability.Reports.Html">
        <lifetime type="singleton" />
      </register>
      <register type="Microsoft.Fx.Portability.ITargetNameParser, Microsoft.Fx.Portability" mapTo="Microsoft.Fx.Portability.Analysis.TargetNameParser, Microsoft.Fx.Portability">
        <lifetime type="singleton" />
        <constructor>
          <param name="catalog">
            <dependency />
          </param>
          <param name="defaultTargets" parameterType="System.String" value=".NET Framework" />
        </constructor>
      </register>
      <instance name="DefaultOutputFormat" value="HTML" />
    </container>
  </unity>
</configuration>