<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Cci" version="4.0.0-rc3-24214-00" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="System.Collections.NonGeneric" version="4.0.1" targetFramework="net46" />
  <package id="System.IO.FileSystem" version="4.0.1" targetFramework="net46" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net46" />
</packages>