<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <!-- Uncomment this to see diagnostics -->
  <!--<system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ApiPort.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>-->
</configuration>
