<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Uncomment this to see diagnostics -->
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ApiPort.log" />
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
